* {
    color: black;
    background-color: antiquewhite;
    font-family: "Comic Sans MS";



}
div {
    flex-direction: column;
    align-items: stretch;
}
.CustTracker {
    border-radius: 5px;
    border: brown;
    border-width: 2px;
    width: fit-content;
    outline-style: dashed;
    align-self: flex-end;
    alignment: right;
}