* {
    color: black;
    background-color: #DDBEA9;
    font-family: "Comic Sans MS";
    margin-right: 0;

}
body{
    height: 95vh;
}

header {
    font-size: 5vh;
    width: available;
    height: fit-content;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
    border: #6B705C solid thick;
    border-radius: 2vh;
    background: #B7B7A4;
    margin-bottom: 5vh;
    margin: 2vh;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:80vh;
}
.main2 {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    max-height: 80%;
    min-height: 80%;

}