<!DOCTYPE html>

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xeia Home Page</title>
    <link rel="stylesheet" th:href="@{/homeStyle.css}" type = "text/css">
</head>
<body>
<div>
    <span>Welcome to Xeia!</span>
    <div th:object="${customer}" class = "CustTracker">
        <label for="username">Username: </label>
        <div th:text=" *{username}" id = "username"></div>
        <br/>

        <label for="inventory Size">Inventory size:</label>
        <div th:text="*{getInventory().keySet().size()}" id = "inventory size"></div>
        <br/>

        <label for="Cart size">Items in cart: </label>
        <div th:text="*{getShoppingCart().size()}" id = "Cart size"></div>
        <br>

        <label for = "Funds">Funds: </label>
        <div th:text = "*{funds}" id = "funds"></div>
        <label for="Cart">Cart Items</label>
        <select name="Cart">
            <option th:each = "item: ${customer.getShoppingCart()}" th:text="${item.getKey()} +' ' + ${item.getValue()}"></option>
        </select>
    </div>
</div>

<div><a href="/store">store</a></div>
<div><a href="/login">login</a></div>
<div><a href="/signup">signup</a> </div>
<form th:object="${customer}" th:action="@{/logout}" th:method="post">
<button type="submit">Logout</button>
</form>
</body>
</html>