* {
    color: black;
    background-color: #DDBEA9;
    font-family: "Comic Sans MS";
    margin-right: 0;

}
body{
    height: 95vh;
}

header {
    font-size: 5vh;
    width: available;
    height: fit-content;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
    border: #6B705C solid thick;
    border-radius: 2vh;
    background: #B7B7A4;
    margin-bottom: 5vh;
    margin: 2vh;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:80vh;
}
.main2 {
    display: flex;
    align-content: stretch;
    justify-content: space-between;

}

header nav {
    border-top: #A5A58D solid medium;
    background: inherit;
    justify-content: space-evenly;
    display: flex;
}
header nav span  {
    background: inherit;
    width: 33%;
    border-left: #A5A58D solid medium;
    border-right: #A5A58D solid medium;
    padding: 2vh;
}
header nav span a  {
    background: inherit;
    flex: available;
    alignment: center;
    color: inherit;
}

header nav span:hover {
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-play-state: running;
    animation-iteration-count: initial;
}
@keyframes pulse {
    0%{

    }
    50% {
        background-color: #FFE8D6;
        text-shadow: #6B705C;
        color: #A5A58D;
    }
    100%{

    }

}
p {
    max-width: 30%;
    font-size: 2vh;
    height: 50%;
    border: #6B705C thick solid;
    padding: 2vh;
    background-color: #DDBEA9;
    border-top-right-radius: 4vh;
    border-bottom-left-radius: 4vh;
    margin:0;
    margin-right: 5vh;
    margin-bottom: 5vh;
    align-self: start;
}
.CustTracker {
    border-radius: 2vh;
    border: #FFE8D6 solid thick;
    background-color: #FFE8D6;
    padding: 1vh;
    height: content-box;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 0vh;
    border-bottom-right-radius: 0vh;
}
.CustTracker >* {
    background-color: inherit;
}

button {
    border-radius: 2vh;
    background-color: #6B705C;
    color: #DDBEA9;
    border: #6B705C thick solid;
    font-size: medium;
    width: 10%;
    align-self: end;
    justify-self: flex-end;
}
button:hover {
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-play-state: running;
    animation-iteration-count: initial;
    cursor: pointer;
}
select{
    border: #6B705C 1px solid ;
    border-radius: 1vh;
    background-color: #bd9a80;
    width: available;
    block-size: inherit;
    justify-self: right;
}
select option {
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    border: #6B705C 1vh solid ;

}
select::selection {
    color: transparent;
    background: transparent;
}
option::selection{
    color: transparent;
    background: transparent;
}

