<!DOCTYPE html>

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xeia Home Page</title>
    <link rel="stylesheet" th:href="@{/homeStyle.css}" type = "text/css">
    <link rel="stylesheet" href="homeStyle.css" type = "text/css">
</head>
<body>
<div class="main">
    <header th:fragment="headMenu">Welcome to Xeia E-Store!
            <nav>
                <span><a href="/">Home</a></span>
                <span><a href="/store">Store</a></span>
                <span><a href="/login">Login</a></span>
                <span><a href="/signup">Sign-Up</a></span>


            </nav>
    </header>
    <div class ="main2">
        <p>Ever wanted to get your adventuring items, however slaying monsters have you too tired to go to the market?
            At Xeia's E-Store, We help out our busy adventures by allowing them to purchase all their adventuring needs
            from the comfort of their homes.
            Simply add register with our store, add your items to your cart and checkout!
            <br>
            The items will then be delivered to you before your next adventure.
            Xeia's E-Store, Buy today, Adventure tomorrow
        </p>
        <div th:fragment="custTracker" th:object="${customer}" class = "CustTracker">
            <label for="username">Username: </label>
            <div th:text=" *{username}" id = "username"></div>
            <br/>

            <label for="inventory Size">Inventory size:</label>
            <div th:text="*{getInventory().keySet().size()}" id = "inventory size"></div>
            <br/>

            <label for="Cart size">Items in cart: </label>
            <div th:text="*{getShoppingCart().size()}" id = "Cart size"></div>
            <br>

            <label for = "Funds">Funds: </label>
            <div th:text = "*{funds}" id = "funds"></div>
            <br>
            <label for="Cart">Cart Items</label>
            <br>
            <select name="Cart">
                <option th:each = "item: ${customer.getShoppingCart()}" th:text="${item.getKey().name} +' Qty: ' + ${item.getValue()}"></option>
            </select>
        </div>
    </div>

    <form th:object="${customer}" th:action="@{/logout}" th:method="post">
        <button type="submit">Logout</button>
    </form>

</div>


</body>
</html>