<!DOCTYPE html>
<html lang="en">
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/storeStyle.css}" type = "text/css">
</head>
<body>

<form th:object="${customer}" method="post">
<p th:if="${#fields.hasErrors('global')}" th:each="err: ${#fields.errors()}" th:text="${err}" class="ui-state-error-text"></p>



    <label for="username">Username: </label>
    <input type="text" th:field="*{username}">
    <label for="password">Password: </label>
    <input type="password" th:field ="*{password}">
    <button type="submit">Log in</button>
</form>

</body>
</html>