<!DOCTYPE html>

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xeia Store Page</title>
    <link rel="stylesheet" th:href="@{/homeStyle.css}" type = "text/css">
</head>
<body>
    <div class ="main">
        <div th:insert="~{home::headMenu}"></div>
        <div class = "main2">
            <div class="storeContent">
                <p class="desc">
                    <a href="/store/smithy">Smith</a>
                    <br>
                    Our smiths work hard to bring the best quality weapons and armor for busy adventurers <br>
                    Using the best materials gather by you hardworking adventurers, our master
                    craftsmen are able to produce high quality gear for your next expedition
                </p>
                <p class="desc">
                    <a href="/store/apothecary">Apothecary</a>
                    <br>
                    Our apothecaries employ the top of the line ingredients, from herbs gathered from mountain tops and
                    drops from elite monsters. With these ingredients, our products are sure to
                    help you get through any adventures
                </p>
                <p class="desc">
                    <a href="/store/tailor">Tailor</a>
                    <br>
                    The tailors here have access to the toughest hides gathered from mountain bears
                    and tough boars. They meticulously sew together pieces that allow our mobility loving
                    friends easy movements while offering ample protection from whatever danger they might face.

                </p>

                <br>

                <br>

            </div>
            <div th:insert="~{home::custTracker}"></div>

        </div>
        <a href="/cart">View Cart</a>
        <form th:action="@{/store/checkout}" method="post">
            <button type="submit" >Checkout</button>
        </form>

    </div>
</body>
</html>