<!DOCTYPE html>
<html lang="en">
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>StorePage</title>
    <link rel="stylesheet" th:href="@{/storeStyle.css}" type = "text/css">
</head>
<body>
<h1 th:text="${storeName}">defaultHolder</h1>
<div th:each="item: ${inventory.keySet().toArray()}" class="itemCard">
    <span th:text="${item.getName()}"></span>
    <span th:text = "${item.getPrice()}"></span>

    <span th:if = "${item.getClass().getName()} == 'Xeia.Items.Equipment'" th:text = "${item.isEnchantable()}"></span>
    <span th:if = "${item.getClass().getName()} == 'Xeia.Items.Equipment'" th:text="${item.getEnchantment()}"></span>
    <span th:if = "${item.getClass().getName()} == 'Xeia.Items.Equipment'" th:text="${item.getItemLvl()}"></span>
    <span th:if = "${item.getClass().getName()} == 'Xeia.Items.Consumable'" th:text = "${item.getEffect()}"></span>
    <span th:if = "${item.getClass().getName()} == 'Xeia.Items.Consumable'" th:text="${item.getQuality()}"></span>
    <span th:text = "${inventory.get(item)}"></span>
</div>

</body>
</html>