<!DOCTYPE html>

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xeia Store Page</title>
</head>
<body>
Welcome to the store
<div>
    <div th:object="${customer}" class = "CustTracker">
        <label for="username">Username: </label>
        <div th:text=" *{username}" id = "username"></div>
        <br/>

        <label for="inventory Size">Inventory size:</label>
        <div th:text="*{getInventory().keySet().size()}" id = "inventory size"></div>
        <br/>

        <label for="Cart size">Items in cart: </label>
        <div th:text="*{getShoppingCart().size()}" id = "Cart size"></div>
        <br>
    </div>
    <div>
        <a href="/store/smithy">Smith</a>
    </div>
    <div>
        <a href="/store/apothecary">Apothecary</a>
    </div>
    <div>
        <a href="/store/tailor">Tailor</a>
    </div>


</div>

</body>
</html>