* {
    color: black;
    background-color: #DDBEA9;
    font-family: "Comic Sans MS";
    margin-right: 0;

}
body{
    height: 95vh;
    display: flex;
    justify-content: space-evenly;


}

form {
    border: #6B705C solid thick;
    padding: 5vh;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center ;
    border-radius: 2vh;
    background-color: #ffe2cc;
    align-content: flex-start;
}
form > * {
    margin: 1vh;
    background-color: inherit;
}
input {
    border:inherit;
    border-radius: inherit;
    padding: 5px;

}
input:focus{
    border-color: #B7B7A4;
    outline-color: #bd9a80;
    box-shadow: #6B705C;
}

button {
    border-radius: 2vh;
    background-color: #6B705C;
    color: #DDBEA9;
    border: #6B705C thick solid;
    font-size: medium;
    width: fit-content;
    align-self: end;
}

button:hover {
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-play-state: running;
    animation-iteration-count: initial;
    cursor: pointer;
}
@keyframes pulse {
    0%{

    }
    50% {
        background-color: #FFE8D6;
        text-shadow: #6B705C;
        color: #A5A58D;
    }
    100%{

    }

}
.error {
    color: indianred;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}